[2020-04-21 20:00] crbaker opened #3 "IP Address setting cannot be Private"
When the _ip-address_ setting is set to **Private** the deployment fails with the following error "The Value of IP Address must be either Public or Private".

I suspect this issue will be true for all other properties that have either or options such as _os-type_, _protocol_, _restart-policy_.

[2020-04-22 17:17] rwetzeler opened #5 "Setup SSL Sidecar with Nginx"
Following this:
https://docs.microsoft.com/en-us/azure/container-instances/container-instances-container-group-ssl

I'd like to deploy a asp.net core web app with SSL support via Nginx sidecar.  However, there doesn't seem to be a way to either specify a yml/yaml file with this config or as an input in the action.yml.  If you had an action UseSSL: Nginx as a value, that would be great for it to do

[2020-05-23 12:40] andrioid opened #7 "Error: The api-version '2018-10-01' is invalid."
Hi there. I'm in the progress of moving my deployment from GCP to Azure, and came across an error that has me feeling pretty stuck.

I've been following [this guide](https://docs.microsoft.com/en-us/azure/container-instances/container-instances-github-action#use-deploy-to-azure-extension), except that I'm using Github Packages instead of ACR

<details>
<summary>Error output</summary>

  with:

[2020-05-23 14:48] andrioid commented on #7
I misunderstood the RESOURCE_GROUP env variable and used the full scope from the previous step. Replaced it with the resource-group-name and the API error is gone.

[2020-05-23 14:48] #7 closed

[2020-06-12 09:45] adamaiken89 opened #9 "Restart server after updated?"
Is there any way to restart the container instances after the system has updated through aci?

[2020-06-17 16:06] jakep36 commented on #3
I'm having this issue as well.

[2020-06-17 21:03] jakep36 commented on #3
I think this will always throw an error if `ipAddress != 'Public'` https://github.com/Azure/aci-deploy/blob/5eddcdad28f81a886b87667828cda942ee91d11f/src/taskparameters.ts#L71

I think something like `if(!(ipAddress == "Public" || ipAddress == "Private"))` would work. I'm not exactly sure how to contribute here. This seems to be the same pattern for the other params that have either options like @c

[2020-07-29 16:53] shubham1172 opened #12 "Server in 'imageRegistryCredentials' of container group should be a valid host name without protocol."
Hello, I am trying to use this workflow to deploy my latest docker image from ACR onto ACI. I am getting the following error:

```##[error]Error: The server '$IMAGE_SERVER' in the 'imageRegistryCredentials' of container group 'somevalue-container' is invalid. It should be a valid host name without protocol.```

- The value of $IMAGE_SERVER is in the format somevalue.azurecr.io

[2020-08-05 06:02] shubham1172 opened #13 "Environment variable containing "=" in value"
Hi,

If I have an environment variable which contains an "=", it does not behave properly. For example,

[code]
gets stored as `key1=this-is-`

[2020-08-06 06:43] shubham1172 commented on #13
Referenced in #10

[2020-08-20 15:40] #13 closed

[2020-08-26 02:08] shortpoet opened #15 "Dynamically retrieve correct IP address"
When I create a container it shows the ip address.  I can retrieve that ip address with the below command.

[code]
The problem is, that is not the ip address under which the container actually runs.  When checking container logs in azure portal, I see the error that says the server is trying to connect to my database under a different ip.  I need that ip to be able to configure server firewall.

[

[2020-08-30 14:47] IslamHeggy commented on #12
Can you copy and paste your workflow file
@shubham1172

[2020-08-30 15:23] shubham1172 commented on #12
Ah, I lost the erroneous workflow file in my pool of commits! Now it's working, thanks!

[2020-08-30 15:23] #12 closed

[2020-09-06 09:56] ANicholasson commented on #12
I kind off get the same error just that it says The server '' (its empty) in the 'imageRegistryCredentials' etc..

Here is my workflow file:
[code]

[2020-09-06 11:58] ANicholasson opened #16 "Error: The server '' (empty string) in the 'imageRegistryCredentials' of cointainer group is invalid"
Hi, im using this action for testing deployment from ACR to ACI and get the following error:
`Error: The server '' in the 'imageRegistryCredentials' of container group 'timekeeping-container' is invalid. It should be a valid host name without protocol.`

Here is my workflow file:
[code]

[2020-09-19 07:23] iluxa86 opened #17 "restart-policy only accepts "Always" value"
https://github.com/Azure/aci-deploy/blob/ee70b52b1aecbaa770d6c230989ac1cfa66a9aed/src/taskparameters.ts#L105

There is a bug here.
This will throw error for anything except "Always"

[2020-09-19 07:36] iluxa86 commented on #17
this line should be changed to
`if(restartPolicy not in ("Always", "OnFailure", "Never")) {`

But I do not have permissions to submit PR

[2020-09-19 07:45] iluxa86 commented on #17
I did not realize it is TS code.
The code should be:
`if(!["Always", "OnFailure", "Never"].includes(restartPolicy)) {
`

[2020-10-08 16:52] dschenkelman opened #21 "https"

[2020-10-11 18:46] mbtools opened #22 "Warning: `set-env` command is deprecated"
During `azure/aci-deploy@v1` you get the following warning.

https://github.blog/changelog/2020-10-01-github-actions-deprecating-set-env-and-add-path-commands/

![image](https://user-images.githubusercontent.com/59966492/95687239-65907080-0bd0-11eb-88d6-7758a3c87910.png)

[2020-10-20 02:09] ryancole opened #23 "Can't seem to set os-type to Windows - always throws an error"
Hi folks,

I'm trying to specify the `os-type` as `Windows`. Regardless of how I specify it, it doesn't seem to satisfy the parameter. Here's my github action step ...

[code]

And below is the error output ...

[code]

[2020-11-03 11:25] jesseward opened #26 "Request for new version of aci-deploy action"
Logging this request to tag a new release of this action as it looks like a fix has been merged that addresses a bug relating to the parsing of secrets/strings. There have been a few issues/PR raised for the handling of `=` in environment secrets
* https://github.com/Azure/aci-deploy/issues/13
* https://github.com/Azure/aci-deploy/pull/10
* https://github.com/Azure/aci-deploy/pull/14
* https://git

[2020-11-03 15:24] jesseward commented on #26
Tagging @narula0781 and @ashishonce here as well.

[2020-11-12 10:38] nosvalds commented on #22
Adding that is an Error now, and will be disabled on November 16th

[code]

[2020-11-17 10:18] remyjette commented on #22
November 16th has passed and the error has now changed:

[code]

[2020-11-17 10:46] remyjette commented on #22
`set-env` was being used by `@actions/core`, which `aci-deploy` relies on.
`@actions/core` resolved the issue in https://github.com/actions/toolkit/pull/571.

I just tested forking this repo and upgrading to `@actions/core` 1.2.6 (latest), and the error goes away. Published #27 to upgrade it here.

[2020-11-17 12:01] mbtools commented on #26
We need #18 to be included. Please merge and tag a new release. Thx

[2020-11-17 12:42] mitsha-microsoft commented on #22
#18 is merged. I think it should resolve this issue

[2020-11-17 12:42] #22 closed

[2020-11-17 13:43] WardMaes commented on #22
The error is still showing, preventing deployments.

[2020-11-17 13:45] remyjette commented on #22
A new version of the action will need to be created first. See #26

[2020-11-17 14:55] jesseward commented on #26
@ashishonce and @narula0781 : it looks like this is a higher priority now due to the `set-env` changes as well. Please see the commenary within https://github.com/Azure/aci-deploy/issues/22 as well..

[2020-11-17 15:34] nosvalds opened #28 "Error: Cannot find module '@actions/core'"
I'm trying to use the master branch of azure/aci-deploy since v1 contains the error with set-env in @actions/core (which was fixed with https://github.com/Azure/aci-deploy/pull/27), but now I'm getting an error where the '@actions/core' module can't be found.

I tried forking the repo and creating a v2 to see if that would resolve it, but no luck.

[code]

[2020-11-17 18:06] remyjette commented on #28
`node_modules` has to be checked in.

https://docs.github.com/en/free-pro-team@latest/actions/creating-actions/creating-a-javascript-action#commit-tag-and-push-your-action-to-github

[2020-11-18 01:15] brenoalvs commented on #16
I was suffering with the same issue but I've found the solution.
You need to add the `registry-login-server` parameter also on the "Deploy" block.

[code]

Guys, please update/sync the docs between the docs site and GitHub they're very inconsistent.

[2020-11-18 01:25] brenoalvs opened #29 "Invalid environment variable name (multiline string)"
I'm using the workflow file below.
But I'm receiving the following error on the "Deploy to Azure Container Instances" step:

[code]

[2020-11-18 02:27] brenoalvs commented on #29
I've enabled the debugging and found the point of failure:

[code]

It seems something related to the provisioning state.
https://github.com/Azure/aci-deploy/blob/master/src/main.ts#L60-L70

[2020-11-18 02:48] brenoalvs commented on #29
I've removed the environment variables and everything works fine now.
But I need them. :/

[2020-11-18 03:57] brenoalvs commented on #29
Well, I think I've found the issue.
One of my secure environment variables was a multiline string (an SSH key).

After removing it, the action has worked well.
It solved my issue, but it can be a problem for other people.

[2020-11-18 10:50] nosvalds commented on #26
Please also take note of issue https://github.com/Azure/aci-deploy/issues/28 when doing the next release. node_modules needs to be checked in for the update to @actions/core to be included:

[2020-11-18 10:54] mitsha-microsoft commented on #28
You can't use the master branch directly, you will need a new tagged released branch. To run it in your fork, you can follow the following steps:

1. Fork the repo.
2. Fork a separate branch (to be used for running the action)
3. Do an `npm install` and `npm run build` and check in the `node_modules` folder to the branch as well.
4. Now you can refer to this action's branch and it should work

Thi

[2020-11-18 17:10] brenoalvs commented on #26
@jesseward can I help with anything to release faster?

[2020-11-18 17:17] jesseward commented on #26
hi @brenoalvs , this ticket was created to request a new release. I am not a project owner (just a consumer ;-) ). I have pinged the owners of the project in the issue comments

[2020-11-18 20:55] brenoalvs commented on #26
@jesseward Oh sorry, I forgot to check.
@mitsha-microsoft It seems that you're the guy. There's anything I can help you?

[2020-11-18 23:56] joelrozen commented on #26
+1 waiting for this

[2020-11-19 04:31] mitsha-microsoft commented on #26
@brenoalvs I am not the current owner now. I wrote the action. @narula0781 @ashishonce  own this now 😄 Tagged them here

[2020-11-20 19:19] Karishma-Tiwari-MSFT commented on #26
@narula0781 and @ashishonce Is this issue being fixed? Please let me know.
We have customers who are unable to deploy to Azure ACI using GitHub action.

[2020-11-21 08:56] JoeMarkov commented on #26
My builds are all down too. 👎

[2020-11-21 08:57] JoeMarkov commented on #22
My deployments are down due to this, any plan when this can be fixed?

[2020-11-23 20:06] macolso commented on #26
👋 hi folks - from the ACI team here. This issue is under investigation

If you'd like to provide feedback on the Action here is a short [5-minute form](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbR4yAt620nHpGvlqiqwfbCptURFZPNjI2SFAwWVlFNDBFN0lJVTY3MjZUNC4u)

[2020-11-24 04:16] anraghun commented on #29
@brenoalvs Thanks for pointing this out. We'll call this out in the action readme file.

[2020-11-24 05:43] anraghun commented on #23
Closing this issue as the fix has been merged.

[2020-11-24 05:43] #23 closed

[2020-11-24 05:44] anraghun commented on #21
@dschenkelman Please reopen if required with more details.

[2020-11-24 05:44] #21 closed

[2020-11-24 05:47] anraghun commented on #17
@narula0781

[2020-11-24 05:56] anraghun commented on #16
@narula0781 @ashishonce It seems from the [Microsoft doc](https://docs.microsoft.com/en-us/azure/container-instances/container-instances-github-action) that the `registry-login-server` is a required input. But it's an optional input in the `action.yml` file. Can you please check whether it needs to be updated?

[2020-11-24 05:58] anraghun commented on #15
@shortpoet This repo is used to track issues for the `aci-deploy` action only.

[2020-11-24 05:58] #15 closed

[2020-11-24 06:03] anraghun commented on #9
@adamaiken89 This is not part of the action scope.

[2020-11-24 06:03] #9 closed

[2020-11-24 06:13] anraghun commented on #28
@nosvalds `node_modules` are checked into the release branches. Closing this as the new release is being tracked in #26.

[2020-11-24 06:13] #28 closed

[2020-11-24 10:36] romil07 commented on #26
I have made the required changes.
Please try out the latest changes using the same version v1 and it should work.

[2020-11-24 11:00] JoeMarkov commented on #26
Works for me :-)

[2020-11-24 11:53] jesseward commented on #26
Confirmed working here as well. Thanks for the updates

[2020-11-24 13:23] romil07 commented on #26
Thanks for confirming. I am closing this issue.

[2020-11-24 13:23] #26 closed

[2020-11-24 16:21] anraghun commented on #26
Closing the issue

[2020-11-26 01:54] dschenkelman commented on #21
Sorry. Created this in the wrong repo. Thanks for closing @anraghun

[2020-12-02 21:02] kf6kjg commented on #3
Underlying bug also causes #17.

Looks like whomever wrote the initial code thought that `a != b && c` evaluated like `![b, c].includes(a)` instead of as it really does `(a != b) && (true)`...

[2020-12-24 09:40] alexlydiate commented on #17
We've also met this - a real pain. Seems @iluxa86 has given the fix three months ago...

[2020-12-24 12:27] alexlydiate commented on #17
@iluxa86 certainly pointed in the right direct - pull request https://github.com/Azure/aci-deploy/pull/38 fixes this, which on our fork is working fine.

[2021-02-07 08:07] audit-tech-ag commented on #5
Maybe to make it even more of a general case, the capability to deploy an azure container group.
or to have the yaml file as input for the command

[2021-02-08 17:46] perokvist opened #39 "Add Compose support"
It would be create to point to a docker-compose file.

[2021-02-23 20:44] mtbdeano opened #40 "Unable to set `ip-address` to `"Private"`"
Same error as https://github.com/Azure/aci-deploy/issues/17

https://github.com/Azure/aci-deploy/blob/10a287e023e486030363702cbfbca3ffd0b793ee/src/taskparameters.ts#L71

The above is obvs a bug the and condition is incorrect and makes it so that you are unable to set the ip address to Private because this is always only true for Public.

As a workaround, I'll have to stop using this ACI and manual

[2021-03-03 09:39] huinalam commented on #17
when is it resolved?
restart policy bug is still alive.

[2021-03-03 09:44] alexlydiate commented on #17
@huinalam I've given up on this. I met another, similar bug, and concluded there must be a better way. And there is - just use https://github.com/azure/cli directly, and then you can do whatever the CLI allows you too, and you end up with a better understanding of what's going on, much more power over it - and, it works.

[2021-03-26 19:44] dbrooks5 opened #42 "Secure Environment Variables not stored registered as secure in ACI"
Environment variables that are registered using the secure-environment-variables syntax are grouped together with the environment-variables and the values of the variable are visible in plain text in the container properties.

[2021-04-14 14:53] kanika1894 commented on #42
hey @dbrooks5, can you provide more context around the issue?
An example/sample run will be great :)

[2021-04-14 14:58] kanika1894 commented on #39
@N-Usha seems like a feature request, can you please look into it?

[2021-04-14 15:00] kanika1894 commented on #29
@anraghun are we good to close this? (Hoping doc update has been done)

[2021-04-14 15:07] kanika1894 commented on #16
@anraghun @narula0781 @ashishonce any updates on this?

[2021-04-14 15:09] kanika1894 commented on #5
@N-Usha Enhancement issue, any insights on this?

[2021-04-14 23:15] jiyangye commented on #5
It would be great if it can deploy an azure container group.

[2021-04-15 06:02] narula0781 commented on #16
@kaverma is owning this up . You can reach out to her..

[2021-04-15 09:59] kanika1894 commented on #40
Closing as it is duplicate of https://github.com/Azure/aci-deploy/issues/3

[2021-04-15 09:59] #40 closed

[2021-04-16 11:08] kanika1894 commented on #3
If I am not wrong, https://github.com/Azure/aci-deploy/pull/43 this solves the issue, right?

[2021-04-16 11:08] kanika1894 commented on #17
If I am not wrong, #43 this solves the issue, right? this solves the issue, right?

[2021-04-23 17:50] rashelinu commented on #29
I have the same issue, but my environment variable is 'ASPNETCORE_ENVIRONMENT'='Development'. I have no dot, neither multilines in my variable, and I cannot remove it, I need it. Please help me about it!

[2021-04-27 14:59] rashelinu commented on #29
I resolved the problem, it seams that you have to write double quote : "ASPNETCORE_ENVIRONMENT"="Development"

[2021-05-05 23:00] jseadragon commented on #17
It *appears* this has been fixed in `master`, but we do not have a new release cut. What's the ETA on getting a new tag with this change?

[2021-05-14 17:26] prein opened #47 "Secure env vars deployed together with the plain ones as clear text"
Not sure if I understand what is happening in the following piece:
https://github.com/Azure/aci-deploy/blob/bcb0a1ca5eb61aeb1f26a0d285bb7d62b9ce96ff/lib/taskparameters.js#L33
but it looks like the secure is mixed together with insecure?

This can also be observed if I use Terraform `azurerm_container_group` resource to deploy the same container group instance and have both `environment_variables`

[2021-05-14 17:27] prein commented on #47
Just realized I created dup to #42
Feel free to merge.

[2021-05-19 17:13] prein commented on #42
@kanika1894 please find more context in #47

[2021-05-20 12:01] dbrooks5 commented on #47
The az cli supports two forms of environment variables for azure container instances.
--secure-environment-variables - all variables specified in this block have their values obfuscated in the azure portal so they are not visible and cannot be retrieved via the cli.  This functionality is useful for things like passwords.
--environment-variables - all variables specified here have their values vis

[2021-05-23 05:37] aylmerbritto opened #48 "Multi Container Groups"
I have to run an application that is dependent on three docker images that communicate to each other.
While we are able to create a new multi-container group using a YAML where the developer mentions the configurations of multiple images. `az contianer --name <> --resource-group <> --file <>`
Our Azure/aci-delpoy does not have a file argument here.
Does Azure/aci-deploy support multiple container

[2021-06-02 14:24] kanika1894 commented on #42
Closing this as a duplicate issue with more details exists https://github.com/Azure/aci-deploy/issues/47

[2021-06-02 14:24] #42 closed

[2021-06-02 14:25] kanika1894 commented on #47
@prein @dbrooks5 Is there anything that we can help you with?

[2021-06-02 15:51] SteveMaier-IRT commented on #48
docker-compose can also do this for multiple images into a single container.  The source code for this action has it where it is setting the array of images to an array of a single object instead of multiple.

[2021-06-02 16:34] aylmerbritto commented on #48
Hey @SteveMaier-IRT ,
I didn't quite understand what I have been doing wrong. If you don't mind can you please have a [look at this]
`on: [push]
name: Linux_Container_Workflow

jobs:
    build-and-deploy:
        runs-on: ubuntu-latest
        steps:
        # checkout the repo
        - name: 'Checkout GitHub Action'
          uses: actions/checkout@v1

        - name: 'Login via Azure CLI'

[2021-06-02 16:45] SteveMaier-IRT commented on #48
Hey @aylmerbritto,

I do not think you are doing anything wrong.  the aci-deploy command does not support multiple images in a single container group.  There are other people that have forked this project that have different implementations to be able to have a single container group with multiple images inside of it.  For my issue that I am seeing I am just deploying them to 3 separate containers

[2021-06-02 16:51] aylmerbritto commented on #48
Alright, thank you @SteveMaier-IRT
I understand.
I know it's too much to ask but can you point me to any of the forked repositories that deploy multiple images in a single container group?
Also, you mentioned that you had deployed

May I ask how did you do that? Because even if you manage to mention the images in an array, I have different commands that have to run while these containers are launc

[2021-06-02 17:45] SteveMaier-IRT commented on #48
https://github.com/PierreVH2/azure-containergroup-deploy/

This one seems pretty good and also has the ability to have separate command lines for each container.  look in the source for it in the taskparameters.ts to see how it is loading up the containers.  Each one can have its own image, command, evironment variables, etc.  Looks like it should work ok.  I am going to play with it for abit as w

[2021-06-02 17:47] aylmerbritto commented on #48
This means alot. I will try it and let know you either ways :)

[2021-06-03 14:27] el-pato commented on #47
@kanika1894 @prein @dbrooks5  fix should be to use```secureValue``` instead of ```value``` when adding secure environment variables to ```_environmentVariables```, per the snippet below. I tested this on one of my projects and confirm that secure environment variables are no longer visible in the properties of the the container instance. Also created a PR: #51

Problem code: https://github.com/Azu

[2021-06-04 12:46] kanika1894 commented on #17
@jseadragon @iluxa86  @alexlydiate
This has been fixed in the patch version.
Can you please verify if using aci-deploy@v1.1.1 solves the issue and works well?

[2021-06-04 13:40] kanika1894 commented on #3
@daliborsavanovic @crbaker jakep36
This has been fixed in the patch version. We'll soon update the major version as well.
Can you please verify if using aci-deploy@v1.1.1 solves the issue and works well?

[2021-06-04 14:49] daliborsavanovic commented on #3
Hi @kanika1894,

Haven't tried new version, but I can see a flaw there also, you're missing network profile parameter..
I have fixed my own (forked) version of this and continued..

[2021-06-07 15:50] kanika1894 commented on #3
Hey @daliborsavanovic , can you please more context around the network profile parameter.
The intention behind having v1.1.1 was to fix https://github.com/Azure/aci-deploy/issues/17 and https://github.com/Azure/aci-deploy/issues/3.
But as per my understanding, there is something else that needs to be included?

[2021-06-07 16:12] kanika1894 commented on #48
Thanks a lot, @SteveMaier-IRT for your inputs.

[2021-06-07 16:12] #48 closed

[2021-06-13 20:35] chelnak commented on #3
Looks like this is still broken because there is a dependency on dns-name-label that can't be met if you want private ip.

[2021-06-14 07:00] kanika1894 commented on #47
Fixed by the PR : https://github.com/Azure/aci-deploy/pull/51

[2021-06-14 07:00] #47 closed

[2021-06-14 07:00] kanika1894 commented on #17
Fixed in v1 as well.

[2021-06-14 07:00] #17 closed

[2021-06-15 07:38] kanika1894 commented on #3
@chelnak can you please create a separate issue for this?
This seems like making a parameter optional based on a condition, which we can handle separately.
The fix for the conditions is rolled out using https://github.com/Azure/aci-deploy/pull/43

[2021-06-15 07:38] #3 closed

[2021-06-15 07:49] chelnak commented on #3
Sure, will do. I put it here because I felt like it was a bit of a regression from the fix.

[2021-06-30 23:12] khalilgharbaoui commented on #39
+1

[2021-07-11 19:58] cilerler opened #53 "Setting `ip-address` to `Private` causes an error"
Setting below

[code]

throws the error below

[code]

and removing `dns-name-label` throws the error below

[code]

[2021-07-22 07:49] kanika1894 commented on #53
Hey @cilerler,
Thanks for pointing this out. As of now, this action only supports Public IP scenario. Updated : https://github.com/Azure/aci-deploy/blob/master/action.yml#L69
Supporting Private IP will be taken up as an enhancement.

[2021-07-22 10:33] roncsak opened #56 "Container group cannot be updated"
Hello!

I wanted to to use this action for the following use-case:

- Build docker image with GH Actions
- Push docker image to Azure Container Registry with GH Actions
- Deploy the pushed image to Container Instances with GH Actions (this action does it actually)

## Description

For some reason it failed and GH Actions log said that if I wish to update memory, cpu, os, restart strategy (and what

[2021-07-22 10:49] cilerler commented on #53
Are you sure that you don't want to mark it as **"Bug"** since it allows you to set a value, but then it throws an error? I mean, it literally throws an error if you set `Private`; to me, it means a `bug` and not an `enhancement`.

[2021-07-22 11:44] kanika1894 commented on #53
Since we are calling out explicitly in the action [ReadMe](https://github.com/Azure/aci-deploy/blob/master/README.md) as well as [action.yml](https://github.com/Azure/aci-deploy/blob/master/action.yml) that Private IP scenario is not supported, we'll be taking this as an enhancement.

[2021-07-25 11:29] HonzaV commented on #56
I had the same problem. The cause was, that when creting container instances I used non-default values for RAM nad the aci-deploy action has default values on these params and these values were different, therefore Azure thinks "Oh hey, you are trying add more memory? No way without delete." So the solution was to specify these optional params in pipeline and set them to the same values as in Cont

[2021-07-25 11:59] HonzaV opened #57 "secure-environment-variables have visible values in azure portal"
Hello,
I have a security related issue with secure-environment-variables parameter of the pipeline.

I wanted to declare env secrets in pipeline, so the action would not overwrite the values setted in Container Instances in Azure Portal. Hre is my usage of the Action

[code]

**Expectation**

I expected that when I look at properties of the container in azure portal I would see name of variables b

[2021-07-29 00:54] L-Sypniewski commented on #57
I'm having exactly the same problem

[2021-08-12 05:20] sroebert commented on #57
Same problem here

[2021-08-12 08:19] sroebert commented on #57
This seems to have been fixed in #51, but the compiled js file does not yet contain the latest changes: https://github.com/Azure/aci-deploy/blob/bcb0a1ca5eb61aeb1f26a0d285bb7d62b9ce96ff/lib/taskparameters.js

[2021-08-12 08:22] sroebert commented on #47
It is fixed in the source ts file, but not in the lib js file, so when using it in Github actions secure environment variables are still passed on as normal environment variables.

[2021-08-12 12:36] el-pato commented on #57
@sroebert Yeah, unfortunately they need to build the the project again. There have been a number of other changes since it was last built and checked in too - and the latest "release" was almost year and a half ago.

Our solution was to clone the repository and reference that in the Github workflow file. Example:
[code]

@kanika1894 can we get recent changes built and checked in to the repo? And p

[2021-08-12 12:44] el-pato commented on #57
@sroebert @kanika1894 actually I just saw that there is a newer release, but it's not marked as the "latest" release. https://github.com/Azure/aci-deploy/releases/tag/v1.1.2

You might be able to target that by doing something like:
[code]

I haven't tried this yet. I will and then update here if nobody else has yet.

[2021-08-12 12:46] sroebert commented on #57
This won't work as the current code does not have the latest build js files, only the ts source files are updated.

[2021-08-12 12:55] el-pato commented on #57
@sroebert just scanned the v1.1.2 release files, looks like you're right.

@kanika1894 can we get this project rebuilt and checked in again? Preferably with a release marked as "latest".

[2021-08-24 08:04] kanika1894 commented on #56
Thanks for your insights @HonzaV
@roncsak Were you able to make progress?

[2021-08-24 08:18] kanika1894 commented on #57
@el-pato @sroebert  @HonzaV
Thanks for pointing out the issue. The required fix has been made in v1.1.3 along with updating the v1 version.

[2021-08-24 08:25] kanika1894 commented on #29
@pulkitaggarwl can you please help with the documentation update?

[2021-08-24 15:43] el-pato commented on #57
@sroebert  @HonzaV @kanika1894

I just ran a test using the v1.1.3 release, and I don't see any secure environment variable values in any logs. I think we're good!

[2021-08-25 07:24] kanika1894 commented on #57
Thanks for the update @el-pato.
fyi, using just v1 will also give the same experience.

[2021-08-25 07:24] #57 closed

[2021-08-28 14:32] RQDineshkumar commented on #39
+1

[2021-08-29 10:23] roncsak commented on #56
Hello @kanika1894,
if you read carefully, @HonzaV confirms the issue and the workaround I had, too.
I see only two options viable:

- Make `cpu`, `memory`, `restart-policy` mandatory
- Let `cpu`, `memory`, `restart-policy` optional and aci-deploy should know that it is currently updating an ACI or creating a new one. Upon creating a new one, use default values (in case not provided) to create ACI

[2021-09-13 11:18] kanika1894 commented on #39
@pulkitaggarwl can you please have a look and decide the plan for action?

[2021-09-13 11:19] kanika1894 commented on #39
@perokvist can you please provide more insights on the requirement? This is for better understanding of the feature request.

[2021-09-24 11:32] kanika1894 commented on #56
Hey @roncsak,

The default values for `cpu`, `memory` and `restart-policy` are given for the scenario when the user deploys a new container from the workflow itself.
The error `The updates on container group 'mycontainer' are invalid. If you are going to update the os type, restart policy, network profile, CPU, memory, or GPU resources for a container group, you must delete it first and then creat

[2021-09-24 11:37] kanika1894 commented on #16
Hey @ANicholasson,
`registry-login-server` becomes a mandatory parameter when the user wants to pick the image from the specified registry.
But this action also supports the scenario where the user can specify certain Quickstart images such as
nginx, aci-helloworld, etc. in which it is not a compulsory input.
Hope this helps!

[2021-09-24 12:55] roncsak commented on #56
Hey @kanika1894,
that's the very thing that I don't want to!

Just look at the example code written [here](https://github.com/Azure/aci-deploy#build-and-deploy-a-nodejs-app-to-azure-container-instances).
[code]
Do you see? Even the example code omits the usage of `cpu`, `memory` and `restart-plocy`.

So what happens if an infastructure guy creates a Container Instance beforehand with 2 vcpu and 2

[2021-09-24 16:48] ANicholasson commented on #16
Hi @kanika1894,
It's been quite a while since I created the issue, and I did at that time come up with another solution. As far as I can see, it looks like @brenoalvs statet a solution to this "problem"/question quite a while ago. Not sure if this issue is relevant to keep open, so you can close it.

[2021-09-27 06:44] #16 closed

[2021-09-27 06:48] kanika1894 commented on #56
I understand your concern @roncsak . Thanks a lot for explaining it with all details.
As of now, the requirement of these parameters is mandatory by design. To address your concern regarding ease of usage, we'll consider this enhancement. Can't promise a date yet, will have to see when can this be prioritized.
Meanwhile, feel free to contribute and raise a PR. Contributions are most welcome!

[2021-09-28 07:33] kanika1894 commented on #29
Thanks folks for pointing it out. Documentation is [updated accordingly](https://github.com/Azure/aci-deploy/pull/61)✌🏼

[2021-09-28 07:33] #29 closed

[2021-10-02 16:45] NachoVazquez opened #62 "Multiple azure-file-volume-share-name and azure-file-volume-mount-path pairs support"
## The Problem

I'm trying to run a container that has multiple volumes mounts.

For example, my docker-compose would look something like:

[code]

I've created two **Azure Storage Shares** vol1_host and vol2_host using the same **Azure Storage Account**.

Now I need to connect my two volumes using the `aci-deploy` action, but I can not find any example of what is the syntax for multiple volumes.

[2021-10-02 18:03] NachoVazquez commented on #62
This behavior is supported by Azure

https://docs.docker.com/cloud/aci-compose-features/#persistent-volumes

[2021-10-02 18:12] NachoVazquez commented on #62
Reading the docs, I understand that the design of this action was following the capabilities of the **Azure CLI** and that more complex scenarios need a config .yml file.

Probably the answer to this problem is not to actually add support for the multiple volumes directly but to add support for a config file parameter.

[2021-10-02 18:21] NachoVazquez opened #63 "Add support for using a configuration file"
## The Problem

This action adds support for the basic **Azure CLI** deploy commands. However, there are some circumstances like supporting multiple volumes or configuring the container's resources (CPU, RAM) where the **Azure CLI**, and therefore this action, are unable to address.

The Azure CLI solves these limitations using the file configuration option

[code]

## The solution

Add support fo

[2021-10-04 06:50] kanika1894 commented on #62
Closing this as this seems to be a duplicate for https://github.com/Azure/aci-deploy/issues/63

[2021-10-04 06:50] #62 closed

[2021-10-04 14:38] obayesshelton commented on #63
@kanika1894 is this something being put into production? I need the ability to add more than one volume

[2021-11-12 20:14] JoeMarkov opened #64 "Make it easier to understand when it takes time to deploy an image"
Today its pretty impossible to get some insights in why deploys are slow. Some more timing details in the log would be helpful here. Personally I notice that deployment is 2x as slow today as it used to be earlier this year.  But its impossible for me to figure out where the bottleneck is..

[2021-11-15 15:41] JoeMarkov opened #65 "Feature request: In the documentation be more clear that you can/should set CPU/RAM"
I have been using this action for a while and it has worked great. But I never realized that I might need/should set the CPU/RAM for my very tiny Linux containers (using like 100MB ram).  I discovered that the containers have a 1.5 GB ram as default and I think that is way to big for the average container.

So, my suggestion is to add the CPU and memory as parameters in the examples found in the R

[2021-11-22 22:36] zmckinnon commented on #53
I am also having this issue.  Is there some reason why Private IP addresses is not supported?  Any idea on the timeline on this?  Are y'all accepting PRs?

[2021-11-23 19:28] klacol opened #66 "Start, Stop and Restart container instances"
Hi, this is a great action. I need also to start, stop and restart the instances. Therefore I would need a wrapper for

[code]
Is it in the scope of this action to wrap this commands, or would it better to make another action for that?

[2021-11-25 12:08] BALAGA-GAYATRI commented on #66
Hey @klacol. You may use [azure cli action](https://github.com/Azure/cli) to execute these commands. Let us know if it solves your problem :)

[2021-11-25 13:00] klacol commented on #66
Her @BALAGA-GAYATRI , thanks, that is exactly what I did. I wrote my first Action:

[2021-11-25 13:00] #66 closed

[2021-12-16 12:18] BALAGA-GAYATRI commented on #53
@zmckinnon We are accepting PRs. We will be glad to accept contributions.

[2021-12-20 07:16] #65 closed

[2021-12-23 11:57] NumtraAdmin opened #68 "Prophet Model Deployment ERROR"
**Description:**
I am trying to deploy Prophet Model.
Model is logged as mlflow.prophet flavour.
When I am creating image from Model Artifact this error came :
WebserviceException: WebserviceException:
"error": {
"message": "Image creation polling reached non-successful terminal state, current state: Failed\nError response from server:\nStatusCode: 400\nMessage: Docker image build failed."
}
}

**

[2021-12-30 09:04] BALAGA-GAYATRI commented on #68
@NumtraAdmin This repository's issues forum deals with `azure/aci-deploy` github action only. If you are using this action inside github workflow and facing this issue please do share your workflow here.

[2022-01-12 13:41] davemaul commented on #53
Is there a reason for this restriction? In Azure Portal it's absolutely possible to create a container instance without a dns label name and a private IP address. I'm curious. :)

[2022-01-13 13:27] davemaul commented on #53
Tested it. There's no reason. Sent a PR. :)

[2022-01-16 14:20] timschonborn opened #70 "Container App: CI deploy from GitHub failing after transferring ownership"
For some reason the 'deploy' step of the CI workflow keeps failing with the following error:
[code]
The workflow.yml has automatically been created after setting up CI in the Azure Container Apps Page. I have registered the application in AAD and added a secret to the CI. I can see that the secrets.AZURE_CREDENTIALS value is also updated together with the workflow (and the registry credentials). T

[2022-01-19 07:20] AjayKaleMS commented on #70
Hi @tjschonborn - From the details you provided, this issue primarily falls in Az-Login repo. With this reason, I am going to close this issue.

Request you to please open a new issue in Azure/Login repo, where we can work on it relevantly.

Thanks for your cooperation.

[2022-01-20 13:46] timschonborn commented on #70
@AjayKaleMS alright, thanks for getting back to me!

[2022-01-20 13:46] #70 closed, assigned to nobody

[2022-01-25 06:48] AjayKaleMS commented on #68
Hi @NumtraAdmin - Assuming the issue is not with the action, we are closing this issue.
Please feel free to reopen the issue in case you have anything related to this particular action.

Thanks.

[2022-01-25 06:50] #68 closed, assigned to nobody

[2022-02-07 21:01] MaslinuPoimal commented on #63
Can this be prioritized? Currently the action is very limited because for example we cannot deploy sidecar containers and have to use the CLI way instead.

[2022-02-21 14:34] shubham1172 opened #71 "Removing JS from version control"
The source of truth for this repository is typescript code which is transpiled into JavaScript. Since we are storing both TS and JS code (which is derived from the former), it leads to issues like https://github.com/Azure/aci-deploy/pull/59

Question: why are we storing JS? Can we do without it?

[2022-02-21 15:36] shubham1172 commented on #71
Also, the `lib` folder name does not sound right. It should be generated in a `build` folder instead.

[2022-02-22 09:47] AjayKaleMS commented on #71
Hi @shubham1172 - We shall look into this enhancement request and keep you posted.
Thanks

[2022-02-22 09:53] shubham1172 commented on #71
@AjayKaleMS, thanks! Let me know if you have any thoughts, happy to send out a PR.

[2022-03-22 09:34] bodiroga commented on #39
Hi guys!

Is there any future plan to support this feature request?

Many thanks for your work! 👍🏻

[2022-03-30 20:58] dchecks commented on #64
Hey, just started using this action for a very simple (<100 line) python script with sqlalchemy as it's only dependency. It's taking 25 minutes to deploy and will often timeout?
Would be good to know why

[2022-05-16 05:25] BALAGA-GAYATRI commented on #71
@shubham1172 We need either .js/ docker images/ shell script for the execution of action. Please refer [this](https://docs.github.com/en/actions/creating-actions/about-custom-actions#types-of-actions) for the type of custom actions. So we need js files. And `lib` naming convention is followed for all the azure actions and changing it right way will be difficult. We shall definitely work on your su

[2022-05-16 05:25] #71 closed, assigned to nobody

[2022-05-16 06:33] shubham1172 commented on #71
Sure, that's fine - another way to temporarily mitigate this is to add a step in the repository's CI, that builds and verifies the `lib` directory. This ensures that there is no delta between the `lib` in source code and the `lib` generated from actual typescript files.

[2022-05-17 07:43] BALAGA-GAYATRI commented on #5
Closing this issue as it is a duplicate for https://github.com/Azure/aci-deploy/issues/63. Feel free to reopen in case of any other issue. Thank you!

[2022-05-17 07:43] #5 closed

[2022-05-17 08:11] BALAGA-GAYATRI commented on #39
closing this issue as it seems like a duplicate for #63. Feel free to reopen this if it is a different concern. Thank you!

[2022-05-17 08:11] #39 closed

[2022-05-23 11:58] dino801 opened #72 "This issue is marked need-to-triage for generating issues report."
This issue is marked need-to-triage for generating issues report.

_Originally posted by @github-actions[bot] in https://github.com/Azure/aci-deploy/issues/39#issuecomment-852875120_

[2022-05-25 08:39] BALAGA-GAYATRI commented on #72
@dino801 Can you explain your issue in detail?

[2022-05-25 08:45] BALAGA-GAYATRI commented on #63
You can leverage that option using `azure/cli@v1` action where you will be providing the required command with arguments in the `inlineScript` and executing it. Closing it as we have an alternative for this use case.

[2022-05-25 08:45] #63 closed

[2022-05-26 03:56] BALAGA-GAYATRI commented on #72
Closing this issue as the problem statement is unclear. Feel free to reopen it if you have any issues using this action.

[2022-05-26 03:56] #72 closed, assigned to nobody

[2022-09-20 06:52] JljHook opened #74 "Add support for Vnet integration"
Would be good to support this as well?

[2022-10-28 13:38] spewu opened #75 "Upgrade to node16 + stop using the "set-output" command"
Hi there

Just raising this, as it does not look like there is already an issue for this, but I am getting two warnings in my actions that use `aci-deploy`:

[code]

[code]

It would be nice if someone could make sure `aci-deploy` is updated, to we can get rid of these warnings 😅

Thanks!

[2022-11-07 04:56] BALAGA-GAYATRI commented on #75
Thanks @spewu, we have acknowledged this issue and are working on it.